* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(37, 36, 36);
    color: white;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}